body, html {
    height: 100%;
    margin: 0;
    width: 100%;
}

canvas {
    height: 100%;
    width: 100%;
    border: 5px solid black;
    position: relative;
    background-image: url("images/foreground.jpg");
}
.canvas-heading {
    text-align: center;
}

#background-image {
    display: none;
}